# {{ f2b_maxretry }} requêtes en {{ f2b_findtime }} secondes -> Ban pour {{ f2b_bantime }} secondes
[sshd]
enabled = true
maxretry = {{ f2b_maxretry }}
findtime = {{ f2b_findtime }}
bantime = {{ f2b_bantime }}